@font-face {
  font-family: 'PT Sans';
    src:  url('../fonts/PT_Sans-Web-Regular.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
    src:  url('../fonts/PT_Sans-Web-Bold.woff') format('woff'),
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'Prata';
    src:  url('../fonts/Prata-Regular.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: PT Sans, sans-serif;
  font-size: 16px;
  color: #021a23;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.promo {
  background: url('../img/bg_main.jpg') 50% no-repeat;
  background-size: cover;
  min-height: 768px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
}

h1 {
  font-family: 'Prata';
  color: #fff;
  font-size: 55px;
  max-width: 720px;
}

h2 {
  color: #021a23;
  font-size: 50px;
  font-family: 'Prata';
}
h3 {

}

/*.page-header__descr {
  color: #fff;
  font-size: 20px;
  max-width: 480px;
}*/

.main-nav {
  display: none;
}
.main-nav__list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  list-style: none;
}
.main-nav__item {
  padding: 20px 30px;
}

.main-nav__link {
  text-decoration: none;
  color: #021a23;
  text-transform: uppercase;
  font-size: 16px;
}

.form {
  background-color: rgba(255, 255, 255, 0.8);
  /*width: 270px;*/
  height: 420px;
  border: 2px solid #021a23;
  padding: 0px 30px;
  display: none;
}

.form__title {
  font-size: 30px;
}
.form__content {

}

.form__input {
  border-bottom: 2px solid #021a23;
  height: 32px;
  font-size: 20px;
  color: #596063;
}
.form__direction {
  border-bottom: 2px solid #021a23;
  height: 32px;
  display: flex;
}


.btn {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  position: relative;
  background-color: #021a23;
  height: 70px;
  text-transform: uppercase;
  text-align: middle;
}


@media (min-width: 1280px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
  .offset {
    margin-left: 8.33%;
  }
  .col-3 { width: 25%; }
  .col-5 { width: 41.66%; }
  .col-6 { width: 50%; }
  .col-9 {
    width: 75%;
  }
  .col-12 { width: 100%; }

  h1 {
    font-family: 'Prata';
    color: #fff;
    font-size: 55px;
    max-width: 720px;
  }

  h2 {
    color: #021a23;
    font-size: 50px
  }
  h3 {
  
  }
  .beginners {
    position: relative;
  }
  .beginners__title {
    position: absolute;
    bottom: -70px;
    transform: rotate(-90deg);
    transform-origin: left top;
    margin: 0;  
  }

  .beginners__card {
    height: 270px;
    background-color: #ddd;
  }

  .trial {
    display: block;
  }
  .main-nav {
    display: none;
  }
  .form {
    display: block;
  }
  .about {
    
  }
  .about__inner {
    position: relative;
  }
  .about__offset {
    margin-top: 100px;
  }
  .about__title {
    position: absolute;
    top: 0;
    left: 0;
  }
}